h1{
	color:violet;
	text-align:center;
}
h2{
	color: violet;
text-align: center;
}
h3{
color: violet;
text-align: center;
}
h4{
	color: violet;
	text-align: center;
}

h5{
	color: violet;
	text-align: center;
}
h6{
	color: violet;
	text-align: center;
}
h7{
	color: violet;
	text-align: center;
}
h8{
	color: violet;
	text-align: center;
}
h9{
	color: violet;
	text-align: center;
}
p{
	background-color: #F9DDEF;
}

body{
	font-display: Roboto,sans-serif;
}

